<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory name="history">
        <!-- DB connection settings -->
        <property name="connection.driver_class">
            
            org.apache.derby.jdbc.EmbeddedDriver
        </property>
        <property name="connection.url">
            jdbc:derby:history_db;create=true
        </property>
        
        <!-- SQL settings -->
        <property name="dialect">
            org.hibernate.dialect.DerbyDialect
        </property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        
        <!-- Mappings -->
        <mapping class="ao.holdem.history.PlayerHandle"/>
        <mapping class="ao.holdem.history.Event"/>
        <mapping class="ao.holdem.history.HandHistory"/>
        <mapping class="ao.holdem.def.model.cards.Hole"/>
        <mapping class="ao.holdem.def.model.cards.Community"/>
    </session-factory>
</hibernate-configuration>